# This .gitignore is appropriate for repositories deployed to GitHub Pages and using
# a Gemfile as specified at https://github.com/github/pages-gem#conventional

# Basic Jekyll gitignores (synchronize to Jekyll.gitignore)
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Additional Ruby/bundler ignore for when you run: bundle install
/vendor

# Specific ignore for GitHub Pages
# GitHub Pages will always use its own deployed version of pages-gem 
# This means GitHub Pages will NOT use your Gemfile.lock and therefore it is
# counterproductive to check this file into the repository.
# Details at https://github.com/github/pages-gem/issues/768
Gemfile.lock

# Rust stuff for the WebAssembly (gpudle/wasm)
gpudle/wasm/target
gpudle/wasm/Cargo.lock

# Cargo stuff in the project root
Cargo.lock
target/

# WebASM build garbage that I don't need
gpudle/wasm/pkg/.gitignore
gpudle/wasm/pkg/README.md
gpudle/wasm/pkg/package.json
gpudle/wasm/pkg/wasm_bg.wasm.d.ts
gpudle/wasm/pkg/wasm.d.ts
